section.about
    .container
        aside.about-images
            h3 Interesting stuff
            .about-images__box
                img(src="./images/pic04.jpg", alt="")
                img(src="./images/pic05.jpg", alt="")
                img(src="./images/pic06.jpg", alt="")
                img(src="./images/pic07.jpg", alt="")
            button #[i.fa.fa-file-text-o(aria-hidden="true")] More
        .about-text 
            h2 So what's this all about?
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed et quos asperiores aperiam vitae? Reiciendis id totam modi nulla quia accusamus, repellendus est, non doloribus facere iste amet. Soluta commodi expedita sed illum reprehenderit qui eaque temporibus nobis cumque, quae exercitationem consequuntur hic totam sunt vero ab provident debitis magnam dignissimos in odit! Culpa omnis nesciunt minus dolor impedit nisi expedita rerum, ratione fugit repellat est inventore et, iure laboriosam incidunt totam voluptas beatae architecto, voluptate consequatur. Corrupti molestias repudiandae non, tenetur deserunt error ad repellendus earum qui. Amet harum, ea incidunt asperiores cum quia minima quaerat quisquam reiciendis numquam.
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae nesciunt voluptatum, aut commodi recusandae consequuntur nam modi vero doloribus, cupiditate omnis quod officia earum quaerat aliquam eaque.
            
            button #[span #[i.fa.fa-arrow-right(aria-hidden="true")]] Continue Reading 