section.cards
    .cards-card 
        .cards-card__image 
            img(src="./images/pic01.jpg", alt="")
            h4 Put something here
        .cards-card__text 
            h5 Maybe here as well I think 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto provident autem qui illum omnis dicta?
    .cards-card 
        .cards-card__image 
            img(src="./images/pic02.jpg", alt="")
            h4 Put something here
        .cards-card__text 
            h5 Maybe here as well I think 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto provident autem qui illum omnis dicta?
    .cards-card 
        .cards-card__image 
            img(src="./images/pic03.jpg", alt="")
            h4 Put something here
        .cards-card__text 
            h5 Maybe here as well I think 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto provident autem qui illum omnis dicta?