footer
    .links
        div 
            h3 Random Stuff
            ul 
                li #[a(href="#") Lorem ipsum dolor sit amet.]
                li #[a(href="#") Lorem ipsum dolor sit.]
                li #[a(href="#") Lorem ipsum dolor sit amet.]
                li #[a(href="#") Lorem ipsum dolor sit.]
                li #[a(href="#") Lorem ipsum dolor sit amet.]
        div 
            h3 Random Stuff
            ul 
                li #[a(href="#") Lorem ipsum dolor sit amet.]
                li #[a(href="#") Lorem ipsum dolor sit.]
                li #[a(href="#") Lorem ipsum dolor sit amet.]
                li #[a(href="#") Lorem ipsum dolor sit.]
                li #[a(href="#") Lorem ipsum dolor sit amet.]
        div 
            h3 Random Stuff
            ul 
                li #[a(href="#") Lorem ipsum dolor sit amet.]
                li #[a(href="#") Lorem ipsum dolor sit.]
                li #[a(href="#") Lorem ipsum dolor sit amet.]
                li #[a(href="#") Lorem ipsum dolor sit.]
                li #[a(href="#") Lorem ipsum dolor sit amet.]
        div 
            h3 Contact Us
            ul.social
                li 
                    a(href="#") <i class="fa fa-twitter-square" aria-hidden="true"></i> 
                li 
                    a(href="#") <i class="fa fa-facebook-square" aria-hidden="true"></i>
                li 
                    a(href="#") <i class="fa fa-instagram" aria-hidden="true"></i> 
                li 
                    a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
                li 
                    a(href="#") <i class="fa fa-pinterest-square" aria-hidden="true"></i>
            
            p 1234 Fictional Road
            p Nashville, TN 00000
            P (800)555-0000
    .copy 
        p © Untlited. All rigths reserved