header
    .logo
        h2 MyLorem
    nav 
        ul 
            li.active Welcome 
            li Dropdown 
            li Left Sidebar 
            li Right Sidebar 
            li No Sidebar
        