section.jumbotron
    div.jumbotron-text
        h3 Hi. This is Lorem.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quidem vero placeat provident similique velit nesciunt, necessitatibus nihil error, eius odio.
    div.jumbotron-links
        a(href="#") Ok let's go #[span #[i.fa.fa-arrow-right(aria-hidden="true")]]
        a(href="#") More info #[span #[i.fa.fa-question(aria-hidden="true")]]