.about {
    margin-top: 20px;
    background: #fff;
    padding: 50px 0px;
    .container {
        display: flex;
        justify-content: space-between;
    }
    &-images {
        width: 40%;
        h3 {
            font-weight: 800;
        }
        &__box {
            margin-top: 15px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            img {
                border-radius: 8px;
                margin: 10px;
                display: block;
            }
        }
        button {
            width: 30%;
            background: #1591c4;
            color: #fff;
            border: none;
            padding: 10px 15px;
            font-weight: 900;
            font-size: 1rem;
            border-radius: 5px;
            margin-left: 10px;
            margin-top: 20px;
            cursor: pointer;
            i {
                font-weight: 300;
            }
        }
    }
    &-text {
        width: 60%;
        h2 {
            font-weight: 900;
            font-size: 1.8rem;
            margin-bottom: 30px;
        }
        p {
            font-weight: 400;
            margin-bottom: 10px;
            line-height: 30px;
        }
        button {
            background: #1591c4;
            border: none;
            padding: 10px 15px;
            font-weight: 700;
            font-size: 1rem;
            border-radius: 5px;
            margin-top: 20px;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            span {
                margin-right: 5px;
                width: 25px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: #fff;
                color: #1591c4;
                font-size: 1rem;
            }
        }
    }
}