.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    margin-bottom: 40px;
    &-card {
        border-radius: 8px;
        box-shadow: 0px 2px 4px 1px rgba(#000, .2);
        &__image {
            position: relative;
            width: 100%;
            img {
                vertical-align: top;
                width: 100%;
                height: 250px;
                border-radius: 8px 8px 0px 0px;
                &:hover ~ h4 {
                    transform: translate(0%, -40%);
                }
            }
            h4 {
                position: absolute;
                bottom: 8px;
                left: 8px;
                color: #fff;
                font-weight: 900;
                transition: all ease-in-out 500ms;
            }
        }
        &__text {
            color: #69686c;
            padding: 15px;
            h5 {
                margin: 10px 0px;
                font-weight: 800;
            }
            p {
                font-weight: 300;
            }
        }
    }
}