header {
    width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    .logo {
        width: 35%;
        font-family: 'Oleo Script', cursive;
        color: #f3443d;
        font-size: 35px;
        cursor: pointer;
    }
    nav {
        width: 65%;
        ul {
            text-align: right;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                font-weight: 900;
                color: #444443;
                cursor: pointer;
                transition: all ease-in-out 500ms;
                border-radius: 8px;
                padding: 8px 15px;
                &.active {
                    background: #444443;
                    color: #fff;
                }
                &:hover {
                    background: rgba(#444443, .8);
                    color: #fff;
                }
            }
        }
    }
}