@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import './header.scss';
@import './jumbotron.scss';
@import './card.scss';
@import './about.scss';
@import './footer.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/bg01.png);
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #444444;
    .container {
        width: 75%;
        display: block;
        margin: auto;
    }
}

