doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://use.fontawesome.com/ff0860a443.js")

        title Prueba FrontEnd Books & Books
    body 
        main.container
            include ./templates/header
            include ./templates/jumbotron
            include ./templates/cards
        include ./templates/about
        .container
            include ./templates/footer